@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;

}

body {
	background-color: #141414;
	color: #fff;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.lists {
	margin-top: -100px;
}

/* LOADER */

.loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: #141414;
	background-image: url('/src/components/loader.svg');
	background-repeat: no-repeat;
	background-position: center;
}

/* FOOTER */

footer {
	padding: 0 40%;
	margin: 80px 0 10px;
	text-align: center;
}

footer small {
	color: #777;
	font-size: 12px;
}

footer hr {
	background: linear-gradient(110deg, #4affbc 0%, #44d1ff 90%);
	height: 1px;
	width: 100%;
	border: 0;
	margin: 20px 0 0 0;
}

footer p {
	font-size: 14px;
	margin: 20px 0;
	background: linear-gradient(45deg, #4affbc 0%, #44d1ff 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 5px;
	text-decoration: none;
}

@media (max-width: 760px) {
	footer {
		padding: 0 10%;
	}
}